.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.category{
    width: max-content;
    display: flex;
    margin: auto;
}
.maincategory{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navbar{
    position: absolute;
}

.seperatot{
    width: 100vw;
    height: 10vh;
}